.theResume {
    padding: 60px 150px 60px 150px;
    background-color: var(--black-color);
    color: var(--white-color);
}

.theResume-title {
    padding-bottom: 15px;
    font-size: 45px;
    text-align: center;
}

.theResume-detailOne {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.theResume-detailTwo {
    padding-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.theResume-detailThree {
    padding-top: 10px;
    margin-top: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.theResume-detailThree b {
    background-color: var(--white-color);
    color: var(--black-color);
    padding: 6px 14px;
    border-radius: 4px;
}

.theResume-detailThree b:hover {
    font-style: oblique;
    padding: 6px 19.5px;
}

.theResume-skill {
    padding-top: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 42px;
}

.theResume-skill div {
    padding-top: 10px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 50px;
}

/* Responsive design */
@media(max-width: 768px) {
    .theResume {
        padding: 70px 80px 60px 80px;
    }

    .theResume-title {
        padding-bottom: 13px;
        font-size: 40px;
    }

    .theResume-detailOne,
    .theResume-detailTwo {
        font-size: 19px;
    }

    .theResume-detailTwo {
        padding-top: 8px;
    }

    .theResume-skill {
        font-size: 38px;
    }

    .theResume-skill div {
        font-size: 29px;
        line-height: 46px;
    }
}

@media(max-width: 480px) {
    .theResume {
        padding: 70px 30px 60px 30px;
    }

    .theResume-title {
        padding-bottom: 12px;
        font-size: 35px;
    }

    .theResume-detailOne,
    .theResume-detailTwo {
        font-size: 15px;
        text-align: center;
    }

    .theResume-detailThree {
        text-align: center;
    }

    .theResume-skill {
        font-size: 36px;
    }

    .theResume-skill div {
        font-size: 28px;
        line-height: 42px;
    }
}