.contactPage {
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
    color: var(--white-color);
    background-color: var(--black-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.contactPage-left {
    width: 45%;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contactPage-right {}

.contactPage-right form div {
    line-height: 50px;
}

.contactPage-right form div input {
    width: 400px;
    background-color: var(--black-color);
    color: var(--white-color);
    border: none;
    border-bottom: 1px solid var(--white-color);
    outline: none;
    line-height: 30px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contactPage-right form div textarea {
    height: 100px;
    width: 400px;
    background-color: var(--black-color);
    color: var(--white-color);
    border: 1px solid var(--white-color);
    border-radius: 6px;
    outline: none;
    margin-top: 20px;
    padding: 4px 8px;
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contactPage-right form button {
    margin-top: 10px;
    padding: 10px 30px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.contactPage-right form button:hover {
    transform: scale(1.05);
}

/* Responsive design */
@media(max-width: 768px) {
    .contactPage {
        padding-top: 30px;
        padding-left: 0;
        padding-right: 0;
        flex-wrap: wrap;
    }

    .contactPage-left {
        width: 60%;
        font-size: 22px;
    }
}

@media(max-width: 576px) {
    .contactPage {
        padding-top: 70px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .contactPage-left {
        width: 80%;
        font-size: 16px;
    }

    .contactPage-right form div input {
        width: 300px;
        font-size: 18px;
    }

    .contactPage-right form div textarea {
        height: 120px;
        width: 300px;
        margin-top: 25px;
        padding: 4px 6px;
        font-size: 18px;
    }
}





/* Custom styling for toast notifications */
.Toastify__toast--success {
    background: #4CAF50; /* Success color */
    color: white;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
}

.Toastify__toast--error {
    background: #f44336; /* Error color */
    color: white;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
}
