.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 250px;
    height: 90px;
    padding: 20px;
    transition: background-color 0.3s ease;
}

.menu {
    display: none;
}

.navbar-home {
    background-color: transparent;
}

.navbar-other {
    background-color: var(--black-color);
}

/* Navbar styles when scrolled */
.navbar-scrolled {
    background-color: var(--black-color);
}

.navbarLeft-link,
.navbarRight-link {
    text-decoration: none;
    color: var(--white-color);
}

.navbarLeft {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1.3px solid var(--white-color);
    padding: 6px 12px;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.navbarLeft:hover {
    transform: scale(1.05);
}

.navbarRight {
    display: flex;
    gap: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.navbarRight p {
    transition: transform 0.3s ease;
    /* Smooth transition for scaling */
}

.navbarRight p:hover {
    transform: scale(1.1);
}

/* Responsive design */
@media (max-width: 900px) {
    .navbar {
        gap: 120px;
    }
}

@media (max-width: 768px) {
    .navbar {
        gap: 350px;
    }

    .navbarRight {
        display: none;
    }

    .menu {
        display: block;
        font-size: 30px;
        color: var(--white-color);
        transition: transform 0.2s ease;
    }

    .menu.active {
        transform: rotate(360deg);
    }
}

@media (max-width: 580px) {
    .navbar {
        gap: 250px;
    }
}

@media (max-width: 480px) {
    .navbar {
        gap: 120px;
    }
}